// Home Content

.navigation {
  .displayFlex(column, wrap, space-around, center);

  h1 {
    font-size: 4rem;
    margin-left: 66px;
    margin-top: 10px;
    }
}

.home {

  .intro {

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;

    .walk-text {
      width: 50%;

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn {
        .buttonStyle(@btn-bg-color, 90px, 38px, 12px, @porcelain) 
      }
      
      .btn:hover {
        -webkit-animation-name: button-bgcolorswap;
        -webkit-animation-duration: 4s;
        animation-name: button-bgcolorswap;
        animation-duration: 4s;
      }
  
      @keyframes button-bgcolorswap {
        from {background-color: @btn-bg-color;}
          to {background-color: @porcelain;}
        from {color: @porcelain;}
          to {color: @btn-bg-color;}
      }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;
      
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
}// home